* {
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Montserrat', sans-serif;
  position: relative;
  height: 100vh;
}

body {
  background-color: whitesmoke;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding: 0.5rem 3rem;
  height: 8vh;
  background: rgb(179, 227, 232);
  background: linear-gradient(
    90deg,
    rgba(32, 53, 55, 1) 21%,
    rgba(46, 74, 77, 1) 36%,
    rgba(73, 113, 116, 1) 56%,
    rgba(73, 113, 116, 1) 100%
  );
  color: rgba(245, 245, 245, 0.895);
}

button:hover {
  background-color: rgba(73, 113, 116, 0.805);
}

footer {
  background-color: rgba(214, 211, 211, 0.455);
  width: 100%;
  height: 8vh;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: auto;
}

input[type='text'],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type='number'],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type='submit'] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.flex-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 8rem;
  margin: 0.5 15rem;
}

.flex-container button {
  color: whitesmoke;
  min-width: 10rem;
  height: 3rem;
  border-radius: 1rem;
  border: none;
  background-color: #497174cd;
}

.flex-container button:hover {
  background-color: rgba(90, 147, 151, 0.805);
}

.btn-remove {
  color: whitesmoke;
  background-color: #497174cd;
  border: none;
  border-radius: 1rem;
  height: 1.5rem;
  width: 6rem;
  margin: 1rem;
}

.btn-read {
  color: whitesmoke;
  background-color: #2d7734cd;
  border: none;
  border-radius: 1rem;
  height: 1.5rem;
  width: 6rem;
  margin: 1rem;
}

.btn-not-read {
  color: whitesmoke;
  background-color: #77342dcd;
  border: none;
  border-radius: 1rem;
  height: 1.5rem;
  width: 6rem;
  margin: 1rem;
}

.btn-remove:hover {
  background-color: rgba(90, 147, 151, 0.805);
}

input[type='submit'] {
  background-color: rgba(73, 113, 116, 0.805);
}

input[type='submit']:hover {
  background-color: rgba(90, 147, 151, 0.805);
}

.form-container {
  width: 40vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background: whitesmoke;
  opacity: 4;
  border-radius: 1rem;
  padding: 2rem 2rem;
  display: none;
}

.form-container.active {
  display: block;
  position: absolute;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.github-logo:hover {
  transform: scale(1.2);
}

.book-form.active {
  display: block;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.cards.hide {
  display: none;
}

.book-card {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(130, 125, 125, 0.771);
  transition: 0.3s;
  width: 30%;
  display: block;
  border-radius: 1rem;
  margin: 2%;
  padding: 2rem;
}

#card-container {
  margin: 2rem 1rem 4rem 1rem;
  justify-content: center;
}

/* @media only screen and (max-width: 380px) {

} */
